* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Luminari";
    
  }
  #addbody{
    background-image: url("https://cdn.pixabay.com/photo/2022/03/19/11/13/girl-7078329_1280.jpg");
 
    backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  background-size: cover;
  width: 100vw;
    height: 110vh;
    background-size: 400vh100vh;
    background-repeat: no-repeat;
    height: 100vh;
     position: fixed;
     width: 120vw;
     height: 120vh;
     top:35%;
     left:57%;
     transform: translate(-50%, -50%);
     justify-content: left;
     align-items: center;
  
  }
  
  
  #addbox{
    width: 600px;
    padding: 32px;
    border-radius: 8px;
    background-color: #f5eeef;
    box-shadow: #0e101240;
    text-align: center;
   
    margin-top: 8%;
    
  }
  #addbody {
    min-height: 100vh;
    display: grid;
    place-items: left;
    margin-top: 10%;
    margin-left: 3%;
    background-color: #ede2e4;
    
  }
 
 
  
  .addform {
    width: 480px;
    padding: 32px;
    border-radius: 8px;
    background-color:#ede2e4;
    box-shadow: 2px 4px 8px #07070740;
    text-align: center;
    opacity: 0.8;
    margin-left: 22%;
  }
  
  .addheader {
    margin-bottom: 48px;
  }
  
  .addheader h1 {
    font-weight: bolder;
    font-size: 28px;
    color: black
  }
  
  .addinput {
    position: relative;
    margin-bottom: 24px;
  }
  
  .addinput input {
    width: 100%;
    border: none;
    padding: 8px 40px;
    border-radius: 4px;
    background-color: #f3f4f6;
    color: #0a0c0e;
    font-size: 16px;
  }
  .addinput i {
    top: 50%;
    width: 36px;
    position: absolute;
    transform: translateY(-50%);
    color: #111113;
    font-size: 16px;
  }
  #addactions{
    width:70px;
    color: #155c3c;
    position : relative ;
      font-size : 14px ; 
      font-weight : bold ;
      
      transition : all .3s ease ;
  }
  .addsignup-btn {
    width: 23%;
    border: none;
    padding: 10px 0;
    margin: 24px 0;
    border-radius: 3px;
    background-color:#b76910;
    color:white;
    font-size: 16px;
    cursor: pointer;
    
  }
  .cancelsignup-btn {
    width: 23%;
    
    padding: 10px 0;
    margin: 24px 0;
    border-radius: 3px;
    background-color: #b76910;;
    margin-left: 6%;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
  }
  